opencv-python
numpy
cffi
Pillow
cryptography
six
ecdsa
setuptools
base58
pyglet
pyzbar
zxing-cpp==3.0.0
qrcode
colorama
certifi
PyMsgBox
idna
urllib3
pyperclip
MouseInfo
PyScreeze
pytweening
PyGetWindow
PyAutoGUI
pycparser
PyRect
tkinterdnd2
PyPDF2
requests
pymerkle
zxcvbn
mnemonic
