@font-face {
    font-family: 'ind';
    src: url('ind.eot');
    src:url('ind.woff2') format('woff2'),
        url('ind.woff') format('woff');
    src: url('ind_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {background-color: #141414;}
h1 {
  font-weight: bold;
  color: white;
  font-size: 76px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: ind;
}

h2 {
  font-weight: bold;
  color: green;
  font-size: 36px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: ind;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

a{
color: #00CED1;
margin-top: 20px;
text-align: center;
display: block;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 700px;
}


p{
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: ind;

}

div.down {
  width: 650px;
  border: 5px solid green;
  background-color: #a5bba5;
  padding: 10px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

div.j {
  margin-left: auto;
  width: 680px;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align-last: justify;
}

.button1 {
  border: 2px solid black;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-family: ind;
  margin: 0px 40px;
  cursor: pointer;
  background-color: white;
  color: black;
}